In [1]:
# import libraries 
import pandas as pd 
from pathlib import Path 
%matplotlib inline

In [2]:
# Read in csv
csv_path = Path("tsla_google_finance.csv")
tsla_df = pd.read_csv(csv_path)
tsla_df.head()

       Date   Close
0  11/13/18  338.73
1  11/14/18  344.00
2  11/15/18  348.44
3  11/16/18  354.31
4  11/19/18  353.47

In [3]:
# Set `Date` as index
tsla_df.set_index('Date') 
tsla_df.head()

       Date   Close
0  11/13/18  338.73
1  11/14/18  344.00
2  11/15/18  348.44
3  11/16/18  354.31
4  11/19/18  353.47