# Slice and Dice Pandas DataFrames via Indexes

## 1. Import libraries and dependencies

In [7]:
# Import libraries and dependencies
import pandas as pd 
import pathlib as Path

## 2. Create a Path to the File Using Pathlib

In [8]:
# Use the Pathlib libary to set the path to the CSV
csv_path = (r"C:\Users\minha\OneDrive\Documents\ASU_2022_Bootcamp\Activity_Files\04-Pandas\2\Activities\04-indexes-01\Resources\cleaned_people_data.csv")

## 3. Read the CSV into a Pandas DataFrame

In [9]:
# Read in the CSV as a DataFrame
csv_df = pd.read_csv(csv_path) 
csv_df.head()

,Person_ID,Last_Name,First_Name,Gender,University,Occupation,Salary,Email,Age
0,1,Lenormand,Keriann,Female,Aurora University,Nurse Practicioner,58135.0,klenormand0@businessinsider.com,27
1,2,Rupke,Huntley,Male,Osaka University of Economics,Project Manager,96053.0,hrupke1@reuters.com,22
2,3,Dalgarnowch,Gorden,Male,Ludong University,Environmental Tech,59196.0,gdalgarnowch2@microsoft.com,40
3,4,Unnamed,Cullie,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0,cputten3@nymag.com,62
4,5,Strangman,Ariel,Female,Boise State University,Project Manager,89073.0,astrangman4@bravesites.com,47

## 4. Index Selection with iloc

### 1. Select First Row with iloc

In [ ]:
# Select the first row of the DataFrame
csv_df.iloc[0]

### 2. Select First 10 Rows Using Index Selection with iloc

In [ ]:
# Select the first 10 rows of the DataFrame
csv_df.iloc[:10]

### 3. Select Last Row Using Index Selection with iloc

In [ ]:
# Select the last row of the DataFrame
csv_df.iloc[-1]

### 4. Select Second Column Using Index Selection with iloc

In [ ]:
# Select the second column of the DataFrame
csv_df.iloc[:,1].head()

### 5. Select Last Column Using Index Selection with iloc

In [ ]:
# Select the last column of the DataFrame, with all rows
csv_df.iloc[:,-1].head()

### 6. Select First Three Columns Using Index Selection with iloc

In [ ]:
# Select the first three columns of the DataFrame, with all rows
csv_df.iloc[:, 0:3].head()

### 7. Select Specific Rows and Columns Using Index Selection with iloc

In [ ]:
# Select the 1st, 3th, 5th, 7th rows of the 2nd, 4th, and 6th columns.
csv_df.iloc[[0,2,4,6], [1,3,5]]

### 8. Select Ranges of Rows and Columns Using Index Selection with iloc

In [ ]:
# Select the first 5 rows of the 3rd, 4th, and 5th columns of the DataFrame
csv_df.iloc[0:5, 2:5]

### 9. Assign Values to Specific Rows and Columns Using Index Assignment with iLoc

In [ ]:
# Modify the 'first_name' column value of the first row
csv_df.iloc[0, csv_df.columns.get_loc('First_Name')] = 'Arya'
csv_df.head()

## 5. Index Selection with `loc`:

### 1. Set Column as Pandas DataFrame Index

In [ ]:
# Set the index as the 'First_Name' column
csv_df.set_index(csv_df['First_Name'], inplace=True)
csv_df.head()

### 2. Sort Pandas DataFrame by Index

In [ ]:
# Sort the index
csv_df.sort_index(inplace=True)
csv_df

### 3. Select Specific Row with Index Selection using loc

In [ ]:
# Select the row with the index 'Andrew'
csv_df.loc['Andrew']

### 4. Select Ranges of Rows with Index Selection using loc

In [ ]:
# Slice the data to output the range of rows between 'Andrew' and 'Vonnie' using `loc`.
csv_df.loc['Andrew':'Vonnie'].head()

### 5. Select Rows with Conditionals using loc

In [ ]:
# Select the rows where `Gender` is equal to 'Male' using `loc`.
csv_df.loc[csv_df['Gender'] == 'Male'].head()

### 6. Assign Values to Specific Rows and Columns Using Index Assignment with loc

In [ ]:
# Change the `First_Name` value of the rows with 'Aaron' as the `First_Name` index to 'Arod'
csv_df.loc['Aaron', 'first_name'] = 'Arod'
csv_df.head()